@model List<OnlinePrintingService.Models.Product>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Products</title>
</head>
<body>
    <div>
        <table class="table">
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Product Size</th>
                <th>Price</th>

            </tr>

            @foreach (var product in Model)
            {
            <tr>
                <td>@product.ProductID</td>
                <td>@product.ProductName</td>
                <td>@product.ProductSize</td>
            </tr>
            }

        </table>
    </div>
</body>
</html>
