
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OrderComplete</title>
</head>
<body>
    <div style="margin-bottom:310px" >
        <img src="~/Images/success.png" />
        <a style="align-self:flex-end; margin-left:10px;text-decoration:none; color:darkgrey;" href="~/Home/Index">Go to Home Page</a>
    </div>
   
</body>
</html>
